@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-nav {
    color: white;
    background: #555357 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
}

.banner-bg {
    background: transparent linear-gradient(67deg, #E71D3A 0%, #ECC7C1 45%, #EFCAC4 58%, #E4BDB8 70%, #42A8FE 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.banner-bg-second {
    background: #2E90E5 0% 0% no-repeat padding-box;
    opacity: 1;
}
a.active{
    color: blue;
}