body {
    background-color: #f8f9fa;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

.input-group {
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
    margin-bottom: 10px;
}