* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}
.parent{
    max-width: 1000px;
    margin: auto;
    padding: 10px 0;
}
.box{
    margin-top: 10px;
}
.title{
    position: relative;
}
.arrow{
    position: absolute;
    right: 10px;
    font-size: 20px;
    transition: 1s;
}
.title,.para{
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px 0px 2px grey;
}
.para{
    display: none;
}