* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parent {
    max-width: 1000px;
    padding: 10px;
    margin: auto;
   box-shadow: 0px 0px 1px grey;
    display: flex;
    gap: 10px;
}

#inp {
    flex-grow: 1;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

#btn {
    padding: 10px;
    background: #3498db;
    color: white;
    outline: none;
    border-radius: 2px;
    box-shadow: 0px 0px 1px grey;
    border: none;
}

#btn:focus {
    box-shadow: 0px 0px 3px grey;
}

.token,
.del {
    padding: 10px;
    display: inline-block;
    color: white;
}

.token {
    background-color: #34495e;
}

.del {
    background-color: #e74c3c;
    cursor: pointer;
    border: 1px solid #e74c3c;

}
.del:hover{
    background-color: transparent;
    color: #e74c3c;
}
#listBox{
    list-style: none;
}

#listBox li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdc3c7;
    margin-top: 10px;
    padding: 10px;
}
.done{
    text-decoration: line-through;
    filter: grayscale(100);
}