body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-container input:focus {
  border: none;
  outline: none;
}

#taskBox {
  margin: 0;
  padding: 0;
}

#taskBox li {
  margin: 10px 0;
  list-style: none;
  background-color: #3498db;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
}